:root {
  --side: 4;
}

.matrix {
  flex: 1;
}
.frame {
  display: grid;
  grid-template-columns: repeat(var(--side), 1fr);
}

.matrix-element {
  background: radial-gradient(hsl(120, 100%, 10%), hsl(120, 100%, 5%));
  margin: 0.5rem;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid gray;
}

@media (max-width: 850px) {
  .matrix-element {
    margin: 0.1em;
  }
}
