* {
  padding: 0;
  margin: 0;
}
body {
  background-color: black;
  color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.heading {
  padding: 0.5rem;
  margin-bottom: 1rem;
  background: radial-gradient(hsl(180, 100%, 15%), rgb(0, 32, 32));
}
.main {
  flex: 1;
  display: flex;
  justify-content: center;
}
.section {
  margin: 0.5rem;
  background: radial-gradient(rgb(31, 31, 31), black);
  border: white 2px solid;
  padding: 1rem;
  max-width: 50vw;
  display: flex;
  flex-direction: column;
  min-width: 40vw;
}

.footer {
  padding: 0.5rem;
  background-color: black;
  border: 2px solid gray;
  font-size: 1.3rem;
}

/*media queries*/

@media (max-width: 850px) {
  .main {
    flex-direction: column;
  }
  .download {
    margin: 2rem;
  }
  .section {
    width: 90%;
    max-width: 90%;
    margin: 2rem auto;
    font-size: 0.8rem;
  }
}
