* {
  padding: 0;
  margin: 0;
}
body {
  background-color: black;
  color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.heading {
  padding: 0.5rem;
  background: radial-gradient(hsl(180, 100%, 15%), rgb(0, 32, 32));
}
.main {
  flex: 1;
  display: flex;
  justify-content: center;
}
.section {
  margin: 0.5rem;
  background: radial-gradient(rgb(31, 31, 31), black);
  border: white 2px solid;
  padding: 0.5em;
  max-width: 50vw;
  display: flex;
  flex-direction: column;
}
.matrix {
  flex: 1;
}
.upload-control {
  background: radial-gradient(hsl(90, 59%, 25%), hsl(90, 59%, 10%));
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
  gap: 1rem;
  text-align: left;
  border: 1px solid black;
}
.or {
  display: flex;
  align-items: center;
}
.upload-control > form {
  padding: 1em;
  /* border: 2px solid black; */
}
.upload-control label {
  display: block;
  padding: 0.25em;
}
.upload-control input[type='number'] {
  max-width: 3rem;
}
.upload-control input[type='file'] {
  max-width: 12rem;
}
.footer {
  padding: 1em;
  background-color: rgb(27, 27, 27);
}
